Source: i2p-messenger
Section: net
Priority: extra
Maintainer: r4sas <r4sas@i2pmail.org>
Build-Depends: debhelper (>= 9), qt4-qmake, libqt4-dev, libaudio-dev
Bugs:mailto:killyourtv@i2pmail.org
Standards-Version: 3.9.6
Homepage: http://git.repo.i2p/w/I2P-Messenger-QT.git

Package: i2p-messenger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: i2p
Description: instant messenger client for I2P
 I2P-Messenger is an I2P-internal, serverless, anonymous and secure (end-to-end
 encrypted) instant messaging client with support for file transfers that
 connects via the SAM bridge.
 .
 Contacts that are not yet on your contact list can be found by using Seedless.
